@mixin flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin btn{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  width: 118px;
  cursor: pointer;
  height: 42px;
  background: linear-gradient(2.79deg, #F35F2F -13.68%, rgba(243, 95, 47, 0.75) 121.16%);
  opacity: 0.85;
  border-radius: 5px;
  border:none;
  transition: .4s;
  &:hover{
    transform: scale(1.1);
    background: none;
    border:2px solid #F35F2F;
    color: #F35F2F;
  }
}